<main>
  <h2>Books</h2>
<!-- 投稿一覧を表示、テーブルタグ使う -->
<teble>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th> </th>
  </tr>
  <tr>
    <!-- 恐らくRailsの繰り返しを入れるはず title.body.show.edit,destroy-->
  </tr>
</teble>
<h3>New book</h3>
<!-- 新規投稿rails -->
</main>