/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "メイリオ";

}

.home p, table,  h4, .action {
  font-size: 13px;
}

.bottom {
  padding: 2px;
  margin: 7px 0px;
}

.flash {
  color: green;
}

.flash-error {
  color: red;
}

/* home */

.home {
  margin-top: 22px;
  margin-left: 33px;
}

h1 {
  font-size: 1.7em;
}

.home p {
  margin: 17px 33px;
}

/* books */

main {
  margin: 20px 33px;
}

table {
  margin-left: 10px;
}

table td {
  padding-bottom: 5px;
  padding-left: 5px;
}

.new {
  margin-top: 15px;
}

.new h4 {
  font-weight: normal;
  margin-top: 15px;
}

/* show */

.show p {
  margin: 25px 70px;
}

.action {
  margin-left: 20px;
}

.action a {
  padding: 0px 1px;
}
/* edit */

.edit {
  margin: 20px 33px;
}

.edit h4 {
  font-weight: normal;
  margin-top: 15px;
}

.edit-action {
  font-size: 13px;
}

